@CHARSET "EUC-KR";

.subMenu{width:100%;height:30px;border:0px solid;text-align:center;margin-top:48px;}
.subMenu>ul>li{float:left;box-sizing:border-box;margin-top:12px;font-size:1.2em;}
.subMenu>ul>li:nth-child(1){width:30%;margin-right:5%;}
.subMenu>ul>li:nth-child(2){width:30%;margin-right:5%;}
.subMenu>ul>li:nth-child(3){width:30%;}
/* 게시판 프레임 */
.listFrame{
	width:100%;height:480px;border:0px solid #000;
	box-sizing:border-box;float:left;margin:90px 0px 30px 0px;;
	border-radius:36px;box-shadow:0px 0px 26px #AAAAAA;
	background-color:rgba(204,255,255,0.3);padding:36px;
}

/* 게시판 타이틀 */
.listFrame>ul.bBanner{
	height:18px;margin-bottom:18px;border:0px solid #000;padding:12px 0px;
}
.listFrame>ul.bBanner>li{float:left;text-align:center;border:0px solid #000;box-sizing:border-box;}
.listFrame>ul.bBanner>li:nth-child(1){width:10%;}
.listFrame>ul.bBanner>li:nth-child(2){width:10%;}
.listFrame>ul.bBanner>li:nth-child(3){width:50%;}
.listFrame>ul.bBanner>li:nth-child(4){width:20%;}
.listFrame>ul.bBanner>li:nth-child(5){width:10%;}

/* 게시판 리스트 */
.listFrame>ul.bContent{margin-top:18px;border:0px solid #000;box-sizing:border-box;}
.listFrame>ul.bContent>li{float:left;text-align:center;}
.listFrame>ul.bContent>li:nth-child(1){width:10%;}
.listFrame>ul.bContent>li:nth-child(2){width:10%;}
.listFrame>ul.bContent>li:nth-child(3){width:50%;text-align:left;}
.listFrame>ul.bContent>li:nth-child(4){width:20%;}
.listFrame>ul.bContent>li:nth-child(5){width:10%;}
