@CHARSET "EUC-KR";

/* 소식 */
.news{width:100%;height:360px;border:1px solid #000;box-sizing:border-box;padding :21px;margin-top:15px;}

/* 이벤트 */
.event{width:100%;height:360px;border:1px solid #000;box-sizing:border-box;padding :21px;}

/* 시즌 */
.season{width:100%;height:360px;border:1px solid #000;box-sizing:border-box;padding :21px;}