@CHARSET "EUC-KR";
*{margin:0;padding:0;font-family:'Avenir LT 35';color:#777777;}
html{width:100%;height:100%;}
body{width:1200px;height:100%;margin:0 auto;}
ul, li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
header, nav, aside, article, footer, section{display:block;}	/* Semantic Tags*/