@CHARSET "UTF-8";

/* 게시판 아이템 포멧 */
.boardFrame{
	width:600px;height:auto;float:left;box-sizing:border-box;
}

.boardFrame>.closetView{
	width:570px;height:360px;border:0px solid #000;box-sizing:border-box;
	margin:14px;box-shadow:3px 3px 9px #DDDDDD;
}

.boardFrame>.liking{
	width:570px;height:27px;border:0px solid #000;box-sizing:border-box;
	margin-left:14px;margin-bottom:14px;
}
.boardFrame>.liking>span{float:left;display:block;height:24px;border:0px solid;box-sizing:border-box;margin-right:18px;font-size:18pt;}
.boardFrame>.liking>.clover{width:24px;background:url("/file/img/clover.png") no-repeat 50%;background-size:100%;}
.boardFrame>.liking>.clover:hover{cursor:pointer;background:url("/file/img/clover_active.png") no-repeat 50%;background-size:100%;}
.boardFrame>.liking>.cloverPoint{width:auto;}
.boardFrame>.liking>.flover{width:24px;background:url("/file/img/flover.png") no-repeat 50%;background-size:100%;}
.boardFrame>.liking>.flover:hover{cursor:pointer;background:url("/file/img/flover_active.png") no-repeat 50%;background-size:100%;}
.boardFrame>.liking>.floverPoint{width:auto;}

.boardFrame>.closetInfo{
	width:570px;height:auto;border:0px solid #000;box-sizing:border-box;
	margin-left:14px;
}
.boardFrame>.closetInfo>ul.userInfo{
	width:570px;height:57px;box-shadow:3px 3px 9px #DDDDDD;
	border:0px solid #000;box-sizing:border-box;margin-bottom:15px;
}
.boardFrame>.closetInfo>ul.userInfo>li:nth-child(1){	/* 작성자 사진 */
	width:45px;height:45px;float:left;margin:6px;
	border:0px solid #777777;box-sizing:border-box;box-shadow:3px 3px 9px #DDDDDD;
}
.boardFrame>.closetInfo>ul.userInfo>li:nth-child(2){	/* 등록일자 */
	width:auto;float:right;margin:3px;
	border:0px solid #777777;box-sizing:border-box;
}
.boardFrame>.closetInfo>ul.userInfo>li:nth-child(3){	/* 작성자 이름(닉네임) */
	width:270px;height:24px;float:left;margin-top:6px;
	border:0px solid #777777;box-sizing:border-box;text-align:left;
}
.boardFrame>.closetInfo>ul.userInfo>li:nth-child(4){	/* 글 제목 */
	width:500px;height:18px;float:left;margin-top:3px;
	border:0px solid #777777;box-sizing:border-box;text-align:left;
}

/* 게시판 내용 포멧 */
.contentFrame{
	width:300px;height:auto;float:right;box-sizing:border-box;
}
.contentFrame>.descView{
	width:300px;height:473px;border:0px solid #000;box-sizing:border-box;
	margin-top:14px;box-shadow:3px 3px 9px #DDDDDD;padding:10px;overflow:auto;
}

/* 게시판 아이템 포멧 */
.itemFrame{
	width:290px;height:auto;float:left;margin-top:4px;
	border:0px solid #000;box-sizing:border-box;
}

.itemFrame>.itemList{
	width:280px;height:473px;border:0px solid #000;box-sizing:border-box;
	box-shadow:3px 3px 9px #DDDDDD;margin-top:10px;margin-left:10px;overflow:scroll;
}
.itemFrame>.itemList>ul{
	width:280px;height:auto;
	border:0px solid;box-sizing:border-box;
}
.itemFrame>.itemList>ul>li{
	width:130px;height:130px;float:left;
	margin-left:7px;margin-top:5px;
	border:0px solid;box-sizing:border-box;
	box-shadow:3px 3px 9px #DDDDDD;
}