@CHARSET "UTF-8";
button{width:75px;height:30px;border-radius:6px;border:0px;box-sizing:border-box;font-size:1.1em;box-shadow:0px 0px 6px #bbb;transition:0.3s;}
button:hover{cursor:pointer;background-color:rgba(0,0,0,0.5);color:#fff;}
button:focus{cursor:pointer;background-color:rgba(0,0,0,0.0);color:#3399FF;font-size:1.2em;}